@import "tailwindcss";

@theme {
  --color-celadon: #B4CEB3;
  --color-dust-grey: #DBD3C9;
  --color-cerulean: #006992;
  --color-yale-blue: #27476E;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
